{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;analysis.html
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <canvas id="chart_0"></canvas><br>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script src="/js/chart.js"></script>
<script>

    function get_config(title, data){
        let config = {
            type: 'line',
            data: data,
            options: {
                animation: {
                    duration: 0
                },
                responsive: true,   // resize to fit browser window
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    title: {
                        display: true,
                        text: title
                    }
                },
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                    },
                }
            }
        };
        return config;
    }

    const chart_0_columns = '{{chart_0_columns}}';
    const json_0_columns = JSON.parse(chart_0_columns.replace(/&quot;/g, '\"'));
    const chart_0_data = "{{chart_0_data}}";
    let json_0_chart = JSON.parse(chart_0_data.replace(/&quot;/g, '\"'));
    let chart_0_data_array = [];
    json_0_chart.forEach(function (x){
        chart_0_data_array.push({label: x.key, data: x.val});
    });
    const ctx_0 = document.getElementById('chart_0');
    const data_0 = {labels: json_0_columns, datasets: chart_0_data_array};
    let title_0 = 'TEST CHART';
    let config_0 = get_config(title_0, data_0);
    new Chart(ctx_0, config_0);


</script>

<br>

{{/inline}}
{{> (lookup this "parent")}}