<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <!-- refresh every n seconds -->
  <!--  <meta http-equiv="refresh" content="2" > -->
</head>
<body>
<div><h1></h1></div>
{{#if is_logged_in}}
  <!-- show if logged in -->
  <a href="/">Home</a>
  <a href="/raw">Raw</a>
  <a href="/test">Test Chart</a>
  <!--  <a href="/logout">Logout ({{session_username}})</a>-->
{{else}}
  <!-- not logged in -->
  <a href="/login">Login</a> <a href="/signup">Signup</a>
{{/if}}
{{> page}}
</body>
</html>