{{#*inline "page"}}

<style>
    input[type='text'] {
        font-size: inherit;
    }

    #status {
        padding: 0 0.2em;
    }

    .msg {
        margin: 0;
        padding: 0.25em 0.5em;
    }

    .canvas_wrapper {
        height: 500px;
    }
</style>
<div>
    <button id="connect">Connect</button>
    <span>Status:</span>
    <span id="status">disconnected</span>
</div>
<div class="canvas_wrapper">
    <canvas id="chart_0"></canvas><br>
</div>
<div class="canvas_wrapper">
    <canvas id="chart_1"></canvas><br>
</div>



<script src="/js/chart.js"></script>
<script src="/js/chartjs-adapter-date-fns.js"></script>

<script>

/*

  Reload a complete data with every websocket event, instead of small updates. Javascript is annoyingly complex (and not
   designed) to try to sort and de-duplicate client side. chart_ws_old.html was an earlier attempt that was abandoned.



*/


/*
[{"label":"btc_usd","data":[{"x":"2023-12-24T20:00:48.809965Z","y":43632.47}]},{"label":"btc_usd_MovingAvg0004","data":[{"x":"2023-12-24T20:00:48.809965Z","y":43631.175}]},{"label":"btc_usd_MovingAvg0010","data":[{"x":"2023-12-24T20:00:48.809965Z","y":43631.20857142857}]},{"label":"btc_usd_MovingAvg0100","data":[{"x":"2023-12-24T20:00:48.809965Z","y":43640.97965517244}]},{"label":"btc_usd_MovingAvg1000","data":[{"x":"2023-12-24T20:00:48.809965Z","y":43642.78674698797}]}]
*/

let chart_0 = null;
let chart_1 = null;
let chart_dataset = [];
const $status = document.querySelector('#status')
const $connectButton = document.querySelector('#connect')
const $log = document.querySelector('#log')
const $form = document.querySelector('#chatform')
const $input = document.querySelector('#text')

/** @type {WebSocket | null} */
var socket = null

function log(msg, type = 'status') {
    $log.innerHTML += `<p class="msg msg--${type}">${msg}</p>`
    $log.scrollTop += 1000
}

function connect() {
    disconnect()

    const {location} = window
    // const proto = location.protocol.startsWith('https') ? 'wss' : 'ws'
    // const wsUri = `${proto}://${location.host}/ws`
    const wsUri = "ws://127.0.0.1:3012"
    // log('Connecting...')
    socket = new WebSocket(wsUri);

    socket.onopen = () => {
        // log('Connected')
        updateConnectionStatus()
    }

    socket.onmessage = (ev) => {
        // new data
        let json = JSON.parse(ev.data);
        chart_dataset = Array.from(json); // .filter((x) => x.label.startsWith("btc_usd_MovAvgDiff"));

        draw_chart_0();
        draw_chart_1();
    }

    socket.onclose = () => {
        // log('Disconnected')
        socket = null
        updateConnectionStatus()
    }
}

function draw_chart_0() {
    let ctx = document.getElementById('chart_0').getContext('2d');
    // ctx.height(500);

    let chart_title = '{{chart_title}}';
    const dataset = chart_dataset.filter((x) => !x.label.startsWith("btc_usd_MovAvgDiff"));
    if(chart_0) {
        chart_0.destroy()
    }
    chart_0 = draw_chart(ctx, dataset, chart_title);
}

// chart 1
// does contain the diff calculation
function draw_chart_1() {
    let ctx = document.getElementById('chart_1').getContext('2d');
    // ctx.height(500);
    let chart_title = '{{chart_title}}';
    const dataset = chart_dataset.filter((x) => x.label.startsWith("btc_usd_MovAvgDiff"));
    if(chart_1) {
        chart_1.destroy()
    }
    chart_1 = draw_chart(ctx, dataset, chart_title);

}

function draw_chart(ctx, dataset, chart_title) {
    return new Chart(ctx, {
        type: 'line',
        // data: {datasets: Array.from(data_map.values()) },
        data: {datasets: dataset},
        options: {
            maintainAspectRatio: false,
            animation: {
                duration: 0
            },
            // responsive: true,   // resize to fit wrapper div
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: chart_title
                }
            },
            scales: {
                x: {
                    type: 'time'
                },
                y: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                },
            }
        }
    });

}

function disconnect() {
    if (socket) {
        // log('Disconnecting...')
        socket.close()
        socket = null
        updateConnectionStatus()
    }
}

function updateConnectionStatus() {
    if (socket) {
        $status.style.backgroundColor = 'transparent'
        $status.style.color = 'green'
        $status.textContent = `connected`
        $connectButton.innerHTML = 'Disconnect'
    } else {
        $status.style.backgroundColor = 'red'
        $status.style.color = 'white'
        $status.textContent = 'disconnected'
        $connectButton.textContent = 'Connect'
    }
}

$connectButton.addEventListener('click', () => {
    if (socket) {
        disconnect()
    } else {
        connect()
    }
    updateConnectionStatus()
})

draw_chart_0();
draw_chart_1();

connect();
updateConnectionStatus()

</script>

{{/inline}}
{{> (lookup this "parent")}}