{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<!--<style>-->
<!--    table {-->
<!--        font-family: arial, sans-serif;-->
<!--        border-collapse: collapse;-->
<!--        width: 100%;-->
<!--    }-->

<!--    td, th {-->
<!--        border: 1px solid #dddddd;analysis.html-->
<!--        text-align: left;-->
<!--        padding: 8px;-->
<!--    }-->

<!--    tr:nth-child(even) {-->
<!--        background-color: #dddddd;-->
<!--    }-->
<!--</style>-->

<div><canvas id="chart_0"></canvas><br></div>
<br>
<div><canvas id="chart_1"></canvas><br></div>



<script src="/js/chart.js"></script>
<script src="/js/chartjs-adapter-date-fns.js"></script>
<script>

    const c = '{{data_vec}}';
    let json = JSON.parse(c.replace(/&quot;/g, '\"'));
    // console.log("json: " + json);
    // console.log("j[0] label: " + json[0].label);
    let data_map = new Map();

    for (let i in json){
        // console.log("label(" + i + "): " + json[i].label);
        const data_i = json[i].data;
        // for(let j in data_i){
        //     console.log("data: " + data_i[j].x + ": " + data_i[j].y);
        // }

        let s = {
            label: json[i].label,
            data: json[i].data
        };

        // TODO: UI filter: only show BTC for now (even though there's data for more)
        if(!s.label.startsWith("eth")){
            // rust_datasets.push(s);
            data_map.set(json[i].label, s);
        }
    }

    draw_chart_0();
    draw_chart_1();

    //  ******** chart 0 *******************
    // does not contain the diff calculation
    function draw_chart_0() {
        let ctx = document.getElementById('chart_0').getContext('2d');
        let chart_title = '{{chart_title}}';
        const ds = Array.from(data_map.values()).filter((x) => !x.label.startsWith("btc_usd_MovAvgDiff"));
        draw_chart(chart_title, ctx, ds);
    }

    //  ******** chart 1 *******************
    // does contain the diff calculation
    function draw_chart_1() {
        let ctx = document.getElementById('chart_1').getContext('2d');
        let chart_title = '{{chart_title}}';
        const ds = Array.from(data_map.values()).filter((x) => x.label.startsWith("btc_usd_MovAvgDiff"));

        draw_chart(chart_title, ctx, ds);
    }

    function draw_chart(chart_title, ctx, dataset) {

        let chart = new Chart(ctx, {
            type: 'line',
            // data: { datasets: [s1, s2] },
            data: { datasets: dataset },
            options: {
                animation: {
                    duration: 0
                },
                responsive: true,   // resize to fit browser window
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    title: {
                        display: true,
                        text: chart_title
                    }
                },
                scales: {
                    x: {
                        type: 'time'
                    },
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                    },
                }
            }
        });

    }


</script>

<br>

{{/inline}}
{{> (lookup this "parent")}}